body {
    background-color: rgba(0, 0, 0, .95);
}

h4 {
    color: rgba(255, 255, 255, 0.95);
}


h2 {
    color: rgba(255, 255, 255, 0.95);
}

video {
    position: relative;
    max-width: 100%;
    width: 350px;
}